.container {
    display: block;
    border: 1px solid var(--neutral-200);
    padding: 1.20rem;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0,0,0,.2);
    width: 600px;
    text-align: center;
    background-color: var(--white); /* Cor original */ 
}

.container span {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif; 
    color: var(--neutral-400);
    font-weight: 500;
    text-transform:uppercase;
}

.deactivated {
    display: block;
    padding: 1.20rem;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    transition: box-shadow 0.3s, transform 0.3s;  
    background-color: var(--green-100); 
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.2);  
    transform: translateY(1px);
    color: var(--neutral-500);
}
.disable{
    display: block;
}


@media(max-width:1380px){ 
    .disable{
        display: none;
    }
  
}
 