.balloon {
  position: relative;
  margin: 20px auto;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  word-wrap: break-word;
  display: inline-block;
  font-size: 1rem;
  transition: transform 1s ease-in-out;
 
}

.slideOut {
  transform: translateX(-100vw);
}

.balloon::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #f0f0f0;
  border-bottom: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}

.balloon p {
  font-size: 1.25rem;
  color: var(--neutral-500);
  margin: 0;
  line-height: 1.5;
}

.blinking-cursor {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin-left: 5px;
  animation: blink-animation 1s steps(5, start) infinite;
}


.slideOut {
  transform: translateX(-100vw); 
  transition: transform 0.5s ease-in-out;  
}


@keyframes blink-animation {
  50% {
      opacity: 0;
  }
}

